@import "../../../Styles/index.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;

  @media screen and (max-width: $break-small) {
    width: 100vw;
  }

  .title {
    font-size: 25px;
  }

  .second-title {
    margin-top: 120px;
    font-weight: 100;
  }

  .underline {
    width: 120px;
    height: 2px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $break-small) {
      width: 100vw;
    }

    align-items: center;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      @media screen and (max-width: $break-small) {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      .team {
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .circle {
          width: 220px;
          height: 220px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
          margin-bottom: 15px;
        }

        .official-responsibility {
          margin-bottom: 15px;
        }

        .name {
          font-size: 12px;
          font-weight: 100;
          color: rgba($color: black, $alpha: 0.6);
          margin-bottom: 6px;
        }

        .desc {
          font-size: 7px;
          color: rgba($color: black, $alpha: 0.4);
          font-weight: 100;
        }
      }
    }
  }
}
