.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 100px;

  img {
    width: 50px;

    margin-right: 30px;
  }

  .box {
    width: 1120px;

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-size: 20px;
      }
      .underline {
        width: 140px;

        margin-top: 20px;
        margin-bottom: 60px;
      }
    }

    .under-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .column {
        &:first-child {
          margin-right: 60px;
        }

        .row {
          align-items: flex-start;
          .title {
            display: flex;
            align-items: center;
          }

          .contents {
            p {
              padding-left: 80px;
              font-size: 12px;
              color: rgba($color: black, $alpha: 0.3);
              font-weight: 100;
              line-height: 2.3;
            }
          }
        }
      }
    }
  }
  .first-row {
    margin-bottom: 100px;
  }

  .second-colum-first {
    margin-bottom: 40px;
  }

  .second-line-second {
    margin-bottom: 60px;
  }
}
