@import "../../../Styles/index.scss";

.outer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .outer-container {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition-duration: 0.6s;
    .container {
      width: 1250px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $break-small) {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .logo {
        width: 245px;
        margin-top: 30px;
        img {
          width: 100%;
          cursor: pointer;
        }
      }

      .items {
        margin-top: 40px;
        color: white;
        @media screen and (max-width: $break-small) {
          display: none;
        }

        span {
          font-size: 15px;
          font-weight: 100;
          margin-left: 20px;
          cursor: pointer;
        }
      }

      .icon {
        display: none;
        color: white;
        font-size: 20px;
        @media screen and (max-width: $break-small) {
          display: flex;

          align-items: center;
        }
      }
    }
  }

  .seperated {
    background-color: #0e0e46;
    opacity: 0.5;
    transition-duration: 0.6s;
  }
}
